.verify-icon {
    color: #149dcc;
    font-size: 2em;
}

.star-rating {
    color: #ff3366;
    font-size: 1.5em;
}

.first-container {
    margin-top: 30px;
}

.page2-first-container {
    margin-top: 76px;
}